{% extends "base.html" %}

{% block title %}
Event - {{object.name}}
{% endblock %}

{% block content %}
<h1>{{ object.name }}</h1>
{% if request.user.is_authenticated and request.user == object.creator %}
<a href="{% url 'events:choices' pk=object.id %}">Edit choices.</a>
{% endif %} 

<ul>
{% for choice in object.choice_set.all %}
<li>{{  choice }}: {{ choice.user.count }}</li>
{% endfor %}
</ul>

<h2>Answerers</h2>
<form action="{% url 'events:user' pk=object.id %}" method="post" accept-charset="utf-8">
    {% csrf_token %}
    New answer for name: <input type="text" value="" name="name" />
   <input type="submit" value="Start new answer"/> 
</form>
<ul>
{% for user in object.eventuser_set.all %}
<li>
    {{  user.display_name }}: {{ user.choice_set.count }}
    {% if user.user is None or  request.user.is_authenticated and user.user == request.user  %}
    <a href="{% url 'events:answer' pk=user.id %}">Edit</a>
    {% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}
