{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'main/style.css' %}" type="text/css" />
    <meta name="author" content="Filip Úradník" />
    <meta name="description" content="Plan events with other people." />
    <meta name="keywords" content="events, planning" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Index{% endblock title %}</title>
</head>

<body>
    <ul id="navbar">
        <li><a href="{% url 'index' %}">Home</a></li>
        {% if request.user.is_authenticated %}
        <li>Welcome, {{ request.user.username }}</li>
        <li style="float:right"><a href="{% url 'accounts:logout' %}">Logout</a></li>
        <li style="float:right"><a href="{% url 'events:create' %}">New event</a></li>
        {% if request.user.is_superuser %}
        <li style="float:right"><a href="{% url 'admin:index' %}">Admin dashboard</a></li>
        {% endif %}

        {% else %}
        <li>Not logged in.</li> 
        <li style="float:right"><a href="{% url 'accounts:login' %}">Login</a></li>
        <li style="float:right"><a href="{% url 'accounts:register' %}">Register</a></li>
        {% endif %}
    </ul>
    <div id="content">
        {% block content %}{% endblock content %}
    </div>
</body>

</html>
